[submodule "Common/OpenFX"]
	path = Common/OpenFX
	url = https://github.com/NatronGitHub/openfx
[submodule "Common/OpenFX-SupportExt"]
	path = Common/OpenFX-SupportExt
	url = https://github.com/NatronGitHub/openfx-supportext
